body {
    text-align: center;
    background: #f7fafc;
    overflow: hidden;
    background: #fff;
}

.content {
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 22%;
}
#canvas {
    display: inline-block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.webpage-name {
    text-align: center;
}

#table {
    display: none;
    height: 50px;
    font-size: 15px;
    text-align: center;
}

#title {
    display: none;
    font-size: 20px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
}

.downloadButton {
    text-align: center;
}

#totalList {
    height: 32px;
    outline: none;
}
